@inherits ModalPanelBase<SometimesViewModel>
<SkeletonWhileBusy IsBusy="@(UserModalState.IsLoading)">
    <EditForm @ref="editForm" Model="@Model">
        <FluentValidationValidator />
        <BitTextField @bind-Value="Model.Description"
                      Label="Description"
                      Placeholder="Enter a name..."
                      IconName="@BitIconName.GroupedDescending" />
        <ValidationMessage For="() => Model.Description" />
    </EditForm>
</SkeletonWhileBusy>
<h3>Sometime this panel is shown</h3>

@code {
    private UserModalState UserModalState => GetState<UserModalState>();
    protected override SometimesViewModel Model => UserModalState.SometimesViewModel;
}
