@inherits TimeWarpStateComponent
<BitDialog IsOpen="@IsOpen"
           Classes="@Classes"
           ShowCloseButton="false"
           ShowCancelButton="false"
           ShowOkButton="false"
           IsBlocking="true">
    <div style="padding: 0.5rem 0 1rem 0;">
        @Body
    </div>

</BitDialog>
<style>
    .rounded {
        border-radius: 1em !important;
    }
</style>
@code {
    private bool IsOpen => State.ShowBlocking;
    private string Title => State?.ModalHostDialogContent?.Title ?? string.Empty;
    private string Body => State?.ModalHostDialogContent?.Body ?? string.Empty;
    private bool ShowOkButton => State?.ModalHostDialogContent?.ShowOkButton ?? false;
    private bool ShowCancelButton => State?.ModalHostDialogContent?.ShowCancelButton ?? false;
    private ModalHostState State => GetState<ModalHostState>();
    BitDialogClassStyles Classes = new BitDialogClassStyles
    {
        // Root = "rounded",
        Container = "rounded",
        Header = "rounded",
        ButtonsContainer = "rounded",
    };

}
