<h3>ValidationFailureOnSave</h3>

@code {
    // [Parameter, EditorRequired] public ModalHostDialogContent Content { get; set; } = default!;
    [Parameter, EditorRequired] public EventCallback OnOk { get; set; }
}
